<div class="item-list page-width shopify-page-section">
    <div class="text-box page-width">
        {% if section.settings.heading != blank %}
            <h2 class="section-heading">{{ section.settings.heading }}</h2>
        {% endif %}
    </div>
    <div class="block-list">
        <ul>
            {% for block in section.blocks %}
                <li>
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | image_url: width: 320 }}">
                    {% endif %}
                    <h3 class="image_title">{{ block.settings.image_title }}</h3>
                    <p class="text">{{ block.settings.text }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
{
  "name": "Item List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    }
  ],
  "blocks": [
    {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Slide Image"
            },
            {
                "type": "text",
                "id": "image_title",
                "label": "Image Title"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Item List"
    }
  ]
}
{% endschema %}