#shopify-section-template--16076764840190__image_banner .banner__content  .banner__box  .banner__text,
#shopify-section-template--16076764840190__image_banner .banner__content  .banner__box  h2.banner__heading  { color: #191816; }
@media (max-width: 1023px) {
    #Banner-template--16076764840190__image_banner1 { height: auto; }
}

#Banner-template--16076764840190__image_banner .image-banner .banner__content .content-container { 
    padding: 0px;
}

@media (min-width: 1700px) {
    #shopify-section-template--16076764840190__image_banner .image-banner .banner__content { 
        max-width: 1685px!important;
        margin: 0 auto!important;
        margin-left: 25px !important;
    }    
}
@media (min-width: 1400px) {
    .collection-slide {     
        margin-top: 250px;
        margin-bottom: 250px; 
    }
}

@media (max-width: 768px) {
    .social_icon_list { margin-top: 0px; }
}