.social_icon_list {
    margin-top: -118px;
}

#shopify-section-template--16061439803646__compare_image_with_text .cd-image-container { width: 65%; }
#shopify-section-template--16061439803646__compare_image_with_text .cd-handle { background-size: 20px 16px; height: 38px; width: 38px; }
#shopify-section-template--16061439803646__testimonials h2.section-heading { margin: 68px 0px 39px; }

@media (min-width: 1024px)  {
    #shopify-section-template--16061439803646__multicolumn_slide.multicolumn-slide { 
        margin-top: 246px;
    }
}    
@media (max-width: 750px)  {
    .social_icon_list {
        margin-top: -69px;
        z-index: 12;
    }
    #shopify-section-template--16061439803646__testimonials h2.section-heading { margin: 51px 0 39px; }
}