#Banner-template--16078972813566__image_banner1 { height: 100rem; }
@media (max-width: 1023px) {
    #Banner-template--16078972813566__image_banner1 { height: auto; }
}
.social_icon_list { margin-top: -370px; }

@media (min-width: 1700px) {
    #Banner-template--16078972813566__image_banner1 .banner__content h2.banner__heading { font-size: 106px; }
}

#Banner-template--16078972813566__image_banner1 { position: relative; }
#Banner-template--16078972813566__image_banner1 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(0 0 0 / 52%);
}
@media (max-width: 1023px) {
    .social_icon_list {
        margin-top: -515px;
        left: 10px;
    }
}