#shopify-section-template--16072279064830__testimonials .block-list { margin-top: 100px; }
@media (min-width: 1700px) {
    #shopify-section-template--16072279064830__image_banner .image-banner .banner__content { 
        max-width: 1685px!important;
        margin: 0 auto!important;
        margin-left: 25px !important;
    }
}